{% extends "base.html" %}
{% block title %} Home {% endblock %}
{% block content %}
    <title>Test</title>
</head>
<body style="background-color:lightskyblue;">
    <div class="container-fluid">
        <div class="row">
            <div class="col margin-top-3 text-center"style="float: left;font-size: 40px;">
                {% for date in date_raw %}
                {{date}}
                {% endfor %}
            </div>
        </div>
        <div class="row margin-top-3">
          <div class="col text-center"> 
            <H1>Myanmar</H1>
          </div>
        </div>
        <div class="row margin-top-3">
          <div class="col text-center" >
              <h2>New Cases</h2>
          </div>
          <div class="col text-center">
            <h2>New Recovered</h2>
          </div>
        <div class="col text-center">
            <h2>New Deaths</h2>
        </div>
       </div>
       <div class="row margin-top-3">
        {% for mm in mm_raw %}
        <div class="col text-center" >
            <h2>{{mm["NewConfirmed"]}}</h2>
        </div>
        <div class="col text-center">
          <h2>{{mm["NewRecovered"]}}</h2>
      </div>
      <div class="col text-center">
          <h2>{{mm["NewDeaths"]}}</h2>
      </div>
        {% endfor %}
    </div>
    <div class="row margin-top-3">
        <div class="col text-center" >
            <h2>Total Cases</h2>
        </div>
        <div class="col text-center">
          <h2>Total Recovered</h2>
      </div>
      <div class="col text-center">
          <h2>Total Deaths</h2>
      </div>
    </div>
    <div class="row margin-top-3">
      {% for mm in mm_raw %}
      <div class="col text-center" >
          <h2>{{mm["TotalConfirmed"]}}</h2>
      </div>
      <div class="col text-center">
        <h2>{{mm["TotalRecovered"]}}</h2>
    </div>
    <div class="col text-center">
        <h2>{{mm["TotalDeaths"]}}</h2>
    </div>
      {% endfor %}
    </div>
  </div>
</body>
{% endblock %}